[submodule "deps/yaml-glib"]
	path = deps/yaml-glib
	url = git@gitlab.com:copyleft-games/yaml-glib
[submodule "deps/mcp-glib"]
	path = deps/mcp-glib
	url = git@gitlab.com:copyleft-games/mcp-glib.git
[submodule "deps/crispy"]
	path = deps/crispy
	url = git@gitlab.com:zachpodbielniak/crispy.git
